<%- include("header") -%>
<div class="box">
    <div id="heading">
            <h1>About the To Do list</h1>
    </div>
</div>

<div class="box">
        <p>This is actually just for training</p>
</div>


<%- include("footer") -%>